body {
  font-family: monospace;
  background: #0f172a;
  color: #e5e7eb;
  padding: 30px;
}

h1 { color: #38bdf8; }

.box {
  background: #020617;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
}

code {
  display: block;
  background: black;
  padding: 10px;
  margin-top: 10px;
  color: #22c55e;
}

button {
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #334155;
  padding: 8px;
}

